@import '../../styles/variables.scss';

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $space20;
  gap: $space48;
  &__label {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $space12;
  }
  &__input {
    width: 40%;
    min-width: 200px;
    border: 1px solid $textPrimary;
    padding: $space12;
    font-size: 16px;
    border-radius: $space8;
    @include fontStyle(16px, 500, 22px, $textPrimary);
    &::placeholder {
      @include fontStyle(16px, 500, 22px, $textPrimary);
    }
  }
  &__result {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: $space48;
  }
  &__error {
    @include fontStyle(36px, 500, 44px, $textPrimary);
  }
  &__validate {
    @include fontStyle(20px, 400, 26px, $inputError);
  }
}