// colors

$textPrimary: #2b2b2b;
$primaryColor: #FFFFFF;
$primaryHover: #312bf9;
$buttonDefault: #1f7ffd;
$inputError: #e60000;
$disabledButton: #7b7b7b;
$tempPrimary: #4793FF;

// sizes

$baseContainer: 1400px;
$bigPosterSize: 500px;
$smallPosterSize: 180px;

//spaces
$space8: 8px;
$space12: 12px;
$space16: 16px;
$space20: 20px;
$space24: 24px;
$space48: 48px;

// mixins

@mixin fontStyle ($size, $weight, $lh, $color) {
  font-family: "Rubik", sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
  color: $color;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
