@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__title {
    @include fontStyle(36px, 700, 54px, $textPrimary);
  }
}